-r requirements.txt
nose
mock
coverage
django-debug-toolbar
https://github.com/WoLpH/Cache-Debug-Toolbar/archive/master.zip#egg=cache_toolbar
pip-tools

# install sm-deployment for deployment of project or clone his repo and use python setup.py develop 
